.barraBusqueda {
margin: auto;
}
.carousel-inner {

    height: 700px;
   
}

.carousel-inner .carousel-item img {
    height: 20%;
}

#botonCrear {
    width: 100%;
    background-color: orange;
}

#botonSugerencia {
    width: 100%;
    background-color: orange;
}

#resultado {
    background-color: white;
}

#busqueda1 {
    margin: 40px 0 0 400px;

    width: 100vh;
    height: 70vh;    
    border: solid 10px black;
    
}

